# Ignore all .md files except README.md
*.md
!README.md

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Build
dist
dist-ssr
build/
*.egg-info/
docker-compose.yml

# Local files
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
*.swo
*~

# Vite dependencies
.vite/
.vite/deps/

# Environment
.env
.env.local

# Database
*.db
*.sqlite
*.sqlite3

# Temporary files
*.tmp
*.temp